

$color-gray: #1f1f24;
$color-gray2: #31293c;
$color-grey3: #8993ad;

$color-white:#fff;
$color-white1:#ebebeb;
$color-white2:#ffded8;

$color-red1: #fc557c;
$color-red2: #f53f4f;
$color-red3: #f82370;
$color-red4: #ff4e2e;
$color-red5: #fa4d23;



